* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#toast {
    position: fixed;
    top: 32px;
    right: 32px;
}

.toast + .toast {
    margin-top: 16px;
}

.toast {
    min-width: 450px;
    max-width: 400px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-left: transparent 6px solid;
    color: #333;
    padding: 16px 0;
    animation: slideIn .5s ease, fadeOut 1s 3s forwards ease;
    z-index: 9999;
}

.toast.toast--success {
    border-left-color: #71be34;
}

.toast.toast--error {
    border-left-color: #ff623d;
}

.toast__message {
    flex-grow: 1;
}

.toast__icon,
.toast__close {
    font-size: 24px;
    padding: 0 20px;
}

.toast__icon.toast__icon--success {
    color: #71be34;
}

.toast__icon.toast__icon--error {
    color: #ff623d;
}

.toast__title {
    font-size: 20px;
}

.toast__content {
    margin-top: 4px;
    line-height: 1.4;
}

.toast__close:hover {
    opacity: 0.7;
    cursor: pointer;
}

.btn {
    border: none;
    outline: none;
    padding: 16px 0;
    border-radius: 50px;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    min-width: 200px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.btn:hover {
    opacity: 0.8;
}

.btn + .btn {
    margin-left: 8px;
}

.btn.btn--success {
    background-color: #71be34;
}

.btn.btn--error {
    background-color: #ff623d;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}