* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue";
    background-color: #f4f4f5;
  }

body > div {
    margin: auto;
}

.btn {
    display: inline-block;
    border: none;
    background-color: transparent;
    outline: none;
    text-decoration: none;
    color: #fff;
    padding: 16px 44px;
    min-width: 140px;
    border-radius: 50px;
    cursor: pointer;
    opacity: 1;
    transition: opacity .4s ease;
    text-justify: center;
}

.btn:hover {
    opacity: 0.7;
}

.btn + .btn {
    margin-left: 20px;
}

.btn--success {
    background-color: #71be34;
}

.btn--warn {
    background-color: #ffb702;
}

.btn--danger {
    background-color: #ff623d;
}

.btn--disabled {
    opacity: 0.5 !important;
    cursor: default;
}

.btn-size-l {
    padding: 18px 60px;
}

.btn-size-s {
    padding: 10px 32px;
}